*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 150px;
}
.navbar{
    padding-bottom: 3em;
    padding-top: 3em;
}
nav img{
    height: 11em;
    width: 11em;
}
nav ul{
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    letter-spacing: 0.3em;
    margin: 1em;
    list-style: none;
    margin-left: 27em;
}
nav ul li a{
    color: antiquewhite; 
    text-decoration: none;
    margin: 1em; 
}

#carouselExampleCaptions.carousel.slide.bg-primary{
    background-color: #c2e8ff !important;
    padding-top: 3em;
}
#carouselExampleCaptions img{
    max-height: 500px;
    max-width: 80%;
    margin-left: 10em;
}

button.carousel-control-prev > span.carousel-control-prev-icon{
    background-color: black;
}

#carouselExampleCaptions > button.carousel-control-next > span.carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.749);
}

.carousel-caption{
    color: rgb(255, 255, 255);
}